<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table th:border="1" width="80%">
    <tr>
        <td>序号</td>
        <td>isbn</td>
        <td>name</td>
        <td>price</td>
        <td>publishDate</td>
        <td>操作</td>
    </tr>

    <tr th:each="book:${list}">
        <td th:text="${book.isbn}"></td>
        <td th:text="${book.isbn}"></td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.price}"></td>
        <td th:text="${#dates.format(book.publishDate,'yyyy-MM-dd')}"></td>
        <td>
            <a th:href="@{/book/}+${book.isbn}">编辑</a>
            <button th:attr="del_url=@{/book/}+${book.isbn}" name="del_button">删除</button>
        </td>
    </tr>
</table>

<a th:href="@{/book/index}" th:value="添加新图书">添加新图书</a>
<!--删除操作-->
<form method="post" id="form_delete">
    <input type="hidden" name="_method" value="delete"/>
</form>

<!--导入jquery.js-->
<script type="text/javascript" th:src="@{/js/jquery/3.0.0/jquery.js}"></script>

<!--删除操作-->
<script>
    $(function () {
        alert("start....");
        $("button[name='del_button']").click(function () {
            alert($(this).attr("del_url"));
            $("#form_delete").prop("action", $(this).attr("del_url")).submit();
        });
    });
</script>
</body>
</html>